@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
.textbox{
    background: rgba(208, 252, 240,0.3) ;
    height: 50px;
    padding:20px;
    font-size:25px;
    border: rgba(41, 179, 230,0.5) 4px solid;
    border-radius: 5px;
    margin: 2rem;
    width: 30vw;
}

#textbox{
    color:#1C78FF;
    font-family: 'Montserrat', sans-serif;
}